<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <label for="secid">SecId</label>
    <output name="secid" id="secid" th:text="${bond.getSecId()}"></output>
    <br>
    <label for="shortName">Сокращенное наименование</label>
    <output name="shortName" id="shortName" th:text="${bond.getShortName()}"></output>
    <br>
    <label for="latName">Латинское наименование</label>
    <output name="latName" id="latName" th:text="${bond.getLatName()}"></output>
    <br>
    <label for="prevPrice">Предварительная стоимость, руб</label>
    <output name="prevPrice" id="prevPrice" th:text="${bond.getPrevPrice()}"></output>
    <br>
    <br>
    <output name="message" id="message" th:text="${bond.getMessage()}"></output>
</div>

</body>
</html>